        <div id = "fakestuff"></div>
        </main>
        <footer>
            <hr>
            CST-336. 2019&copy; Riordan <br />
            <strong>Disclaimer:</strong> The information is for academic purposes only <br />
        </footer>
        
    </body>
    
</html>