<% include partials/header %>
                <title>Topics</title>
    </head>
    
    <body>
        <header>
            <h1>WELCOME</h1>
        </header>
        <nav>
            <hr>
            <a style = "font-size:35px" href = "/topics/"><strong>Home</strong></a>
            <a href = "/topics/python">Python</a>
            <a href = "/topics/Linux">Linux</a>
            <a href = "/topics/raspberry_pi">Raspberry Pi</a>
            
        </nav>
        <br /><br />
        <main>
            <div id = "welcomeText">
                Hello!
                <br />
                 Welcome to my computer science topics page.<br />
                Here are a list of the topics I will discuss.
            </div>
            <ul>
            <li><span class = "Link"><a href = "python.html">Python</a></span>: Python is a high level programming language that emphasizes readability and accessibility.</li>
            <li><span class = "Link"><a href = "linux.html">linux</a></span>: Linux is a free and open source operating system that is used by many programmers or tech-enthusiasts around the world.</li>
            <li><span class = "Link"><a href = "raspberry_pi.html">Raspberry Pi</a></span>: Raspberry Pis are tiny computers that can be used in any number of interesting projects.</li>
            </ul>
<% include partials/footer %>