<% include partials/header %>
                <title>Linux</title>
    </head>
    
    <body>
        <header>
            <h1>Linux</h1>
        </header>
        <nav>
            <hr>
            <a href = "/topics/">home</a>
            <a href = "/topics/python">Python</a>
            <a style = "font-size:35px /*NEW*/" href = "/topics/Linux"><strong>Linux</strong></a>
            <a href = "/topics/raspberry_pi">Raspberry Pi</a>
            <figure>
                <img src = "/images/lilogo.png" alt = "Linux Logo" />
            </figure>
        </nav>
        <br /><br />
        <main>
            <h2>A brief history of Linux</h2> <!-- NEW -->
            <ul style="list-style-type:square;"> <!-- NEW -->
                <li>Linux was first devloped by Linus Torvold in 1991 as a free distributable version of the Unix operating system.</li>
                <li>The first official versions of linux was version .02 was released on october 5, 1991. This version was very simple with nothing more than the ability to run bash and gcc.</li>
                <li>As more people started to contribute to the project and development went along the first version of linux was made publicly available in March of 1994.</li>
                <li>Today Linux is now considered a complete Unix clone with a graphical interface capable of web surfing, mail software and word processing applications. This on top of the many commercial programs that have been ported over.</li>
                <li>As of September 10, 2019 the latest stable linux kernel is 5.2.13. </li>
                </ul>
            <h2>Linux as an operating system</h2>
            <ul style="list-style-type:square;"> 
                <li>One of Linux's greatest draws is it being open-source which allows anybody to look into every bit of the system and modify them as they want.</li>
                <li>Linux as an operating is maintaned by people taking the time to contribute to the code in attempts to improve upon the language.</li>
                <li>Due to it being open-source there is a sense of safety and privacy due to any malicious code that can be inserted is open for the world to see.</li>
                <li>Due to the afromentioned security and widespread support either from users or commercial companies has made linux very popular as an operating system for web-servers.</li>
                <li>Today, linux servers generate more than one-third of all web-pages on the internet.</li>
                </ul>
            <div id = "endText">
                <p>Sources:</p>
                <a href = "https://www.oreilly.com/library/view/running-linux-third/156592469X/ch01s02.html">A Brief History of Linux</a>
                <br />
                <a href = "https://opensource.com/resources/linux">What is linux?</a>
            </div>
<% include partials/footer %>