<% include partials/header %>
                <title>Python</title>
    </head>
    
    <body>
        <header>
            <h1>Python</h1>
        </header>
        <nav>
            <hr>
            <a href = "/topics/">home</a>
            <a style = "font-size:35px /*NEW*/" href = "/topics/python"><strong>Python</strong></a>
            <a href = "/topics/Linux">Linux</a>
            <a href = "/topics/raspberry_pi">Raspberry Pi</a>
            <figure>
                <img src = "/images/plogo.png" alt = "Python Logo" />
            </figure>
        </nav>
        <br /><br />
        <main>
            <h2>A brief history of Python</h2> <!-- NEW -->
            <ul style="list-style-type:square;"> <!-- NEW -->
                <li>Python was conceptualized first in the late 80's by Guido Van Rossum. As time went on the language gradually added more features.</li>
                <li>Python version 0.9.0 was released which had exception handling, classes, lists, and strings.</li>
                <li>Python 2.0 was released in 2000 as a more open source project from the National Research Institute of Mathematics and Computer Science. This version had a full garbage collector and supported Unicode.</li>
                <li>The newest version Python 3 was relased in 2008 with its latest version being released on July 8th 2019. Notably this version of Python is not compatible with older Python 2 code which has caused the lead developer Guido Van Rossum to extend support for the language until 2020.</li>
            </ul>    
            <h2>Python as a programming language</h2> 
            <ul style="list-style-type:square;"> 
                <li>Pythons largest draw as a language stems from its easy readability and overall gentle learning curve compared to other more cryptic-seeming languages such as c++ and java.</li>
                <li>Python strives for easier readabilty with its tab-based system of defining blocks of code as opposed to some form of bracket. </li>
                <li>Due to it being a high-level language it can be written much similar to human sounding language. An example of this being statements such as print(), reverse(), input() all doing exactly what their member names imply.</li>
                <li>Instead of relying on knowing the syntax and tricks to a language to understand users can have an easier time understanding how to get the compiler to do what they want.</li>
                <li>Python is a language that has always been designed to support object-oriented programming </li>
            </ul>
            <div id = "endText">
                <p>Sources:</p>
                <a href = "https://medium.com/@johnwolfe820/a-brief-history-of-python-ca2fa1f2e99e">A Brief History of Python</a>
                <br />
                <a href = "https://en.wikipedia.org/wiki/Python_(programming_language)">Python (programming language)</a>
            </div>
<% include partials/footer %>