<% include partials/header %>
                <title>Raspberry Pi</title>
    </head>
    
    <body>
        <header>
            <h1>Linux</h1>
        </header>
        <nav>
            <hr>
            <a href = "/topics/">home</a>
            <a href = "/topics/python">Python</a>
            <a href = "/topics/Linux">Linux</a>
            <a style = "font-size:35px /*NEW*/" href = "raspberry_pi.html"><strong>Raspberry Pi</strong></a>
            <figure>
                <img src = "/images/Rlogo.png" alt = "Raspberry Pi Logo" />
            </figure>
        </nav>
        <br /><br />
        <main>
            <h2>What is a Raspberry Pi?</h2> <!-- NEW -->
           <ul style="list-style-type:square;"> <!-- NEW -->
                <li>A Raspberry Pi is a brand of single-board computers that are capable of most anything a regular computer can do and can be used as either an education tool to teach users languages like scratch or python. </li>
                <li>Raspberry Pi was launched in 2012 and featured a single core 700 MHz CPU an 256 MB</li>
                <li>Today, Raspberry Pi's have much better hardware with the Raspberry Pi 3B+ has a quad-core 1.4 MHz CPU and 1 GB of ram</li>
                <li>Raspberry Pi's run off a linux distro called raspbian</li>
            </ul>
            <h2>What can a Raspberry Pi do?</h2>
            <ul style="list-style-type:square;"> 
                <li>The Raspberry Pi opens itself up to many different projects people can do either with a tutorial or just exploring the systems capabilities</li>
                <li>First being the <a href = "https://pi-hole.net"> PiHole </a> which is a DNS level ad blocker that prevents ads of any kind from appearing on any devices connected on your internet connection.</li>
                <li>Next is the <a href = "http://blog.dylanjpierce.com/raspberrypi/magicmirror/tutorial/2015/12/27/build-a-magic-mirror.html"> magic mirror </a> which is a computer screen layered behind a mirror that can provide things like the weather, time, or even the daily news.</li>
                <li>You can even use it as a host for a <a href = "https://projects.raspberrypi.org/en/coderdojo/21">Web server </a>and teach yourself HTML and CSS skills.</li>
                <li>There are tons of different <a href = "https://projects.raspberrypi.org/en/projects">Projects</a> that are available to anybody.</li>
                <li>The Raspberry Pi is a very versitale machine that allows the user to test out their creativity or automate things on the cheap</li>
            </ul>

            <div id = "endText">
                <p>Sources:</p>
                <a href = "https://www.raspberrypi.org/help/what-%20is-a-raspberry-pi/">What is a raspberry pi?</a>
                <br />
                <a href = "https://opensource.com/resources/raspberry-pi">Raspberry Pi</a>
            </div>
<% include partials/footer %>